<!--
  Two examples of a card with the following elements
    An image
    A title
    A subtitle
    A paragraph of text
    A link
-->

  <div id="card-001" class="card" 
    style="width: 400px; height: 533px; position: relative;">
  <div class="card-body" style="background-color: #ffdfff;">
    <img class="card-img-top mb-4" src="https://frickersolutions.com/images/alaska-poppy.jpg">
    <h5 class="card-title">Pink Dawn Poppy</h5>
    <h6 class="card-subtitle mb-2 text-muted">Papaver somniferum "Pink Dawn"</h6>
    <p class="card-text">A beautiful flower that I photographed in Alaska.  The spectacular color and flounciness of the petals caught my eye.</p>
    <a href="https://davesgarden.com/guides/pf/go/238" class="card-link text-right">Growing instructions</a>
  </div>
</div>
<div id="card-002" class="card" 
    style="width: 400px; height: 533px; position: relative;">
  <div class="card-body" style="background-color: #f4f5d0;">
    <img class="card-img-top mb-4" src="https://frickersolutions.com/images/nasturtiums.jpg">
    <h5 class="card-title">Nasturtium</h5>
    <h6 class="card-subtitle mb-2 text-muted">Tropaeolum majus</h6>
    <p class="card-text">Nasturtiums are notable for their glorious display of warm colored flowers.  I grow them in my own garden in Southern California</p>
    <a href="https://wimastergardener.org/article/nasturtium-tropaeolum-majus/" class="card-link text-right">Growing instructions</a>
  </div>
</div>